name: CD
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write 

jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          token="${{ github.token }}"
          echo "$token" | docker login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin

      - name: Build and push
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/python-app:latest"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

